<a href="https://colab.research.google.com/github/Abdelrhman410/DB/blob/main/Macro_Group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importing libraries and data

In [ ]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as mp
import seaborn as sb

In [ ]:
from google.colab import drive

drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df = pd.read_excel("/content/gdrive/My Drive/XXCopy of UC- ORIGINAL MACRO SALES REPORT JAN JULY 2022.xlsx")

In [ ]:
df.head()

,DISTRIBUTOR_NAME,Date,IQVIA_CUST_CODE,NAME,Customer Name,STREET,DISTRICT,CITY,CMFTYPE,MACRO_BRICKS_CODE,...,REP Territory Name,District Name,Area Name,MACRO_REGIONS,MACRO_PROD_DESC,BRAND,LINE,SALES_UNITS,BONUS_UNITS,SALES_VALUES
0,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,M6_South Sohag,M6_U.E south,M6_UE Zone,Upper Egypt,Frost Massage Gel 100gm,FROST,MACRO 6,1,0,41.92
1,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,OTC_UPE NA,OTC_COUNTRY,OTC AREA,Upper Egypt,Primo plus 120ml,PRIMO,OTC,2,0,50.30
2,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,VACANT,VACANT,VACANT,Upper Egypt,Senzo-1 Soap 100gm,SENZO,OTHERS,2,0,50.30
3,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,M7_Sohag,M7_U.E,M7_NA,Upper Egypt,Synobar Skin cleanser 250ml,SYNOBAR,MACRO 7,1,0,69.86
4,IBNSINA,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,M5_South Sohag,M5_U.E South,M5_UE Zone,Upper Egypt,Scaro Gel 50gm,SCARO,MACRO 5,1,0,350.30

#Data Wrangling

###**Questions was given to me by the client and they are :**

1. Top  3 lines 

2. Lowest 3 lines 

3. Top 10 products

4. Lowest 10 products 

5. Top 5 district managers 

6. Top 5 medical rep

7. Top 5 cities 

8. Top 5 MACRO_BRICKS_NAME

9. Top 5 area name 

10. Top 3 brand

##1. Check duplicates

In [ ]:
df.duplicated().sum()

0

**Note 1:** No duplicates

##2. Check coulmn types

In [ ]:
df.dtypes

DISTRIBUTOR_NAME       object
Date                    int64
IQVIA_CUST_CODE         int64
NAME                   object
Customer Name          object
STREET                 object
DISTRICT               object
CITY                   object
CMFTYPE                object
MACRO_BRICKS_CODE      object
MACRO_TERRITOTRIES     object
MACRO_BRICKS_NAME      object
REP Territory Name     object
District Name          object
Area Name              object
MACRO_REGIONS          object
MACRO_PROD_DESC        object
BRAND                  object
LINE                   object
SALES_UNITS             int64
BONUS_UNITS             int64
SALES_VALUES          float64
dtype: object

**Note 2:** Date coulmn needs to be change to date time format

##3. Check null values

In [ ]:
df.isnull().sum()

DISTRIBUTOR_NAME      0
Date                  0
IQVIA_CUST_CODE       0
NAME                  0
Customer Name         0
STREET                0
DISTRICT              0
CITY                  0
CMFTYPE               0
MACRO_BRICKS_CODE     0
MACRO_TERRITOTRIES    0
MACRO_BRICKS_NAME     0
REP Territory Name    0
District Name         0
Area Name             0
MACRO_REGIONS         0
MACRO_PROD_DESC       0
BRAND                 0
LINE                  0
SALES_UNITS           0
BONUS_UNITS           0
SALES_VALUES          0
dtype: int64

**Note 3:**  There is no null values

**Important Note:** I want to thank the data collector, and I hope that every data collector can be like him XDD.

In [ ]:
df.head(5)

,DISTRIBUTOR_NAME,Date,IQVIA_CUST_CODE,NAME,Customer Name,STREET,DISTRICT,CITY,CMFTYPE,MACRO_BRICKS_CODE,...,REP Territory Name,District Name,Area Name,MACRO_REGIONS,MACRO_PROD_DESC,BRAND,LINE,SALES_UNITS,BONUS_UNITS,SALES_VALUES
0,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,M6_South Sohag,M6_U.E south,M6_UE Zone,Upper Egypt,Frost Massage Gel 100gm,FROST,MACRO 6,1,0,41.92
1,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,OTC_UPE NA,OTC_COUNTRY,OTC AREA,Upper Egypt,Primo plus 120ml,PRIMO,OTC,2,0,50.30
2,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,VACANT,VACANT,VACANT,Upper Egypt,Senzo-1 Soap 100gm,SENZO,OTHERS,2,0,50.30
3,UCP,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,M7_Sohag,M7_U.E,M7_NA,Upper Egypt,Synobar Skin cleanser 250ml,SYNOBAR,MACRO 7,1,0,69.86
4,IBNSINA,202208,100707,عبد الرحمن حسن عبد الرحمن,عبد الرحمن حسن عبد الرحمن-100707,ش ميدان الشهداء,دار السلام,سوهاج,PHAR,B139,...,M5_South Sohag,M5_U.E South,M5_UE Zone,Upper Egypt,Scaro Gel 50gm,SCARO,MACRO 5,1,0,350.30

**Total Notes:**

1. No duplicates
2. Date coulmn needs to be change to date time format
3. There is no null valuesfds
4. Depending on the client questions I found that I will not use these coulmns " DISTRIBUTOR_NAME, Date, Iqvia cust code, name, Customer name, street, city, cmftype, macro bricks code, rep territory name, MACRO_TERRITOTRIES" so i will drop them

In [ ]:
df.drop(['DISTRIBUTOR_NAME','Date', 'IQVIA_CUST_CODE', 'NAME', 'Customer Name', 'STREET', 'DISTRICT', 'CMFTYPE', 'MACRO_BRICKS_CODE', 'MACRO_TERRITOTRIES'],  axis=1, inplace=True)

In [ ]:
df.head()

,CITY,MACRO_BRICKS_NAME,REP Territory Name,District Name,Area Name,MACRO_REGIONS,MACRO_PROD_DESC,BRAND,LINE,SALES_UNITS,BONUS_UNITS,SALES_VALUES
0,سوهاج,Sohag 3,M6_South Sohag,M6_U.E south,M6_UE Zone,Upper Egypt,Frost Massage Gel 100gm,FROST,MACRO 6,1,0,41.92
1,سوهاج,Sohag 3,OTC_UPE NA,OTC_COUNTRY,OTC AREA,Upper Egypt,Primo plus 120ml,PRIMO,OTC,2,0,50.30
2,سوهاج,Sohag 3,VACANT,VACANT,VACANT,Upper Egypt,Senzo-1 Soap 100gm,SENZO,OTHERS,2,0,50.30
3,سوهاج,Sohag 3,M7_Sohag,M7_U.E,M7_NA,Upper Egypt,Synobar Skin cleanser 250ml,SYNOBAR,MACRO 7,1,0,69.86
4,سوهاج,Sohag 3,M5_South Sohag,M5_U.E South,M5_UE Zone,Upper Egypt,Scaro Gel 50gm,SCARO,MACRO 5,1,0,350.30

#Analyze Data

In [ ]:
df = df [df['LINE']!="غير معروف" ]

In [ ]:
Lines = {}

for Line in df["LINE"]:  
  if Line not in Lines:
    filtered_Sales = df[df['LINE']== Line ]["SALES_VALUES"].sum()
    Lines[Line] = filtered_Sales

In [ ]:
sort_data = sorted(Lines.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
print(sort_data_dict)

{'MACRO 1': 11921951.080000002, 'MACRO 2': 11388801.299999999, 'OTC': 9200660.693999998, 'MACRO 5': 8649952.91, 'MACRO 4': 7752972.189, 'MACRO 7': 7097652.1, 'MACRO 6': 5846212.47, 'MACRO 3': 5390783.95, 'OTHERS': 1548106.6199999999, 'VERDEX': 1497507.33, 'ATRAKTA': 1440565.6600000001, 'SOLODEX': 946265.7499999999}

In [ ]:
for i in range (3):
  print(list(sort_data_dict.items())[i])

('MACRO 1', 11921951.080000002)
('MACRO 2', 11388801.299999999)
('OTC', 9200660.693999998)

In [ ]:
for i in range (-3,0):
  print(list(sort_data_dict.items())[i])

('VERDEX', 1497507.33)
('ATRAKTA', 1440565.6600000001)
('SOLODEX', 946265.7499999999)

#**$\color{skyblue}{\text{Top 3 lines}}$**
"MACRO 1" => 11921951.08 revenue

"MACRO 2" => 11388801.3 revenue

"OTC" =>  9200660.69 revenue



---

#**$\color{skyblue}{\text{Lowest 3 lines}}$**
"SOLODEX"=> 946265.75 revenue

"ATRAKTA"=> 1440565.66 revenue

"VERDEX"=> 1497507.33 revenue

---

In [ ]:
print(df.columns.tolist())

['CITY', 'MACRO_BRICKS_NAME', 'REP Territory Name', 'District Name', 'Area Name', 'MACRO_REGIONS', 'MACRO_PROD_DESC', 'BRAND', 'LINE', 'SALES_UNITS', 'BONUS_UNITS', 'SALES_VALUES']

In [ ]:
Products = {}

for Product in df["MACRO_PROD_DESC"]:  
  if Product not in Products:
    filtered_Sales = df[df['MACRO_PROD_DESC']== Product ]["SALES_VALUES"].sum()
    Products[Product] = filtered_Sales

In [ ]:
sort_data = sorted(Products.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
print(sort_data_dict)

{'Orovex Peppermint 250ml': 5001567.81, 'Gold Plus Cleanser 250ml': 3937879.9700000007, 'Scaro Gel 50gm': 3346304.41, 'Frost Massage Spray 100ml': 2717577.08, 'Synobar Skin cleanser 250ml': 2679505.59, 'Orovex Clove 250ml': 2183120.55, 'Dermocalm Lotion 120ml': 2142031.97, 'Bringo Lotion 120ml': 2133319.46, 'Natry Soap 100gm': 1913797.6099999999, 'Care by Care Cream 100gm': 1847981.21, 'Vividol Hair Cream 100gm': 1815802.57, 'Macro Panthenol Cream 50gm': 1806471.65, 'Lit up Soap 100gm': 1665118.88, 'Frost Massage Gel 100gm': 1659670.6099999999, 'Revarest Plus Cleanser 250ml': 1588404.5599999998, 'Scaro Plus Cream 50gm': 1505269.8499999999, 'Mondo Cream 50gm': 1451558.98, 'Cordo Plus Spray 60 ml': 1362092.3190000001, 'Topi Gent Sebum Foam 150ml': 1332006.6099999999, 'Seroleze Hair Serum 120ml': 1288627.84, 'Klenva Cleanser 250ml': 1153406.32, 'Tritect Acne soap 100gm': 1094247.5599999998, 'Topi Gent Delicate Foam 150ml': 1086723.3900000001, 'Synobar Soap 100 gm': 1016132.26, 'Marvel Cream 100gm': 1003913.3800000001, 'Avetrix Gel 100gm': 944598.54, 'Orovex Delicate 250ml': 932147.8999999999, 'Orovex-H 150ml': 924624.13, 'Orovex Orange 250ml': 876286.3900000001, 'Revi 2 Cream 50gm': 850801.0199999998, 'Natry Facial Cleanser 250ml': 850064.0800000001, 'Nataria Cream 50gm': 848790.95, 'Lit up Cream 50gm': 827296.0199999999, 'Orovex Green Apple 250ml': 803524.0700000001, 'Tritect Baby Soap 100gm': 771500.3200000001, 'Care by Care cream plus 100gm': 768138.2499999999, 'Vano Cream 50gm': 654998.94, 'Lindo Hair Oil 250ml': 634696.3800000001, 'Atrakta Re-Force Hair Ampoules': 627121.8500000001, 'Gold Fem Foam': 574511.27, 'Primo plus 120ml': 562481.5800000001, 'Verdol Cleanser 250ml': 561929.89, 'Tress Hair oil 250ml': 514152.47000000003, 'Silicar Skin Serum 50 gm': 493734.8300000001, 'Lit up Cleanser 200ml': 478968.92999999993, 'Prote Care Cream 100gm': 399699.09699999995, 'Fitt Bar soap 100gm': 393362.29, 'Rego Cream 100gm': 387505.9199999999, 'Verdex Prime - Hair Forte Ampoules 12 fl*5ml': 381695.68, 'Tress Follicle Booster Lotion 60ml': 358920.05999999994, 'Senzo-1 Soap 100gm': 357610.51, 'Verdex prime - Eye Contour Aid serum 15 ml': 328742.8, 'O- Pedal Hair Spray 120ml': 295772.54, 'Orovex Strawberry 250ml': 291695.89, 'Synobar-S Soap 100gm': 286394.44000000006, 'Atrakta RE-Force Hair Serum': 285721.67, 'VIVIDOL PERFECTA 250': 270561.63, 'Tritect Antiseptic Soap 100gm': 261263.067, 'Tress Hair oil 120ml': 258148.74, 'Rego Hair Shampoo 250ml': 241188.68999999997, 'VIVIDOL PERFECTA 120': 240802.51, 'Macro Carbamide 50gm': 227957.05999999997, 'Verdex prime - Hair Forte Lotion 200 ml': 208707.02000000005, 'Lindo Hair Oil 120ml': 206904.14, 'Orovex Banana 250ml': 197809.47, 'Lactoherb': 193993.77, 'Solodex Roots Vials (8 vials x 7ml)': 192301.71000000002, 'Solodex Exfolear Spray 120ml': 184245.91999999998, 'Verdex prime - Alba cream 50 ml': 172229.22999999998, 'Verdex prime - Alba serum 30 ml': 165834.68, 'Zerol Cream 40gm': 142194.51000000004, 'Solodex Roots Lotion 60ml': 128501.68, 'Atrakta post epilation': 124886.70999999999, 'Synobar Brush 150ml': 119503.64, 'Peano Balm 30gm': 116984.27, 'OROVEX MISWAK': 115828.09, 'Atrakta Dandr-Off Hair Shampoo': 105905.52, 'Solodex Roots Elixir 60ml': 96771.08, 'Cordo-C Spray 60 ml': 94892.58000000002, 'Atrakta Re-Force Hair Shampoo': 90841.11, 'Gold Lightening Foam': 84479.35999999997, 'Quella cream 100gm': 81900.69, 'Prote Care Shampoo 190ml': 80719.04999999999, 'Rego Hair Lotion 250ml': 77323.18, 'Verdex prime - Topica Cream 100 gm': 76417.48000000003, 'Scaro Spray 60ml': 75050.11, 'Solodex Roots Cream 120ml': 71644.19, 'Atrakta Dandr-Off Hair Mask': 70989.42000000001, 'Atrakta Bi phase spray': 65979.83999999998, 'Verdex prime - Sypo Clear topical serum 50 ml': 60761.829999999994, 'Solodex Exfolear Cleansing Gel 200ml': 56709.85, 'Frost Roll On 60ml': 54450.619999999995, 'Rego Hair Lotion 120ml': 53146.579999999994, 'Orovex Orange 120ml': 51270.5, 'FROST MASSAGER 100': 48753.36, 'Verdex prime - Hair Forte Shampoo 200ml': 48506.109999999986, 'FROST MASSAGER 150': 46141.619999999995, 'Atrakta Delicate shampoo 200ml': 44781.34, 'Ouchy Lamore': 36684.64, 'Orovex-Smokers 250ml': 33385.06, 'Verdex prime - Laser Post 50ml': 32914.200000000004, 'Solodex Hydractiv Lip Balm SPF 15+ 12gm': 32591.93, 'Frost max': 30158.110000000004, 'Solodex Roots Mask 150gm': 28644.220000000005, 'Marvel Cream 50gm': 26431.489999999998, 'Atrakta Delicate shampoo 400ml': 25846.25, 'Synobar Spot Gel 20ml': 25554.92, 'Solodex Hydractiv Urea Cream 200gm': 24863.569999999996, 'Solodex Hydractiv Lip Balm 12gm': 24852.590000000004, 'Vividol Growth Lotion Activator 150ml': 23853.18, 'Solodex Anti-Age Eye Contour Cream Gel 15gm': 23383.63, 'Verdex Offer-Hair F Lotion 200ml+5': 21979.100000000002, 'Solodex Roots Shampoo 200ml': 20187.539999999997, 'Solodex Anti-Age Serum 30ml': 17266.630000000005, 'Solodex Hydractiv Cleanser 200ml': 16430.86, 'Verdex Offer-Eye Contour Aid + 50%': 15873.519999999997, 'Verdex Offer - Alba serum 30ml+ 50': 13926.36, 'Solodex Anti-Dandruff Lotion 50ml': 10220.56, 'Solodex Whiteactiv Cream 30gm': 10062.66, 'Orovex Green Apple 120ml': 9245.5, 'Denton Peppermint': 8989.409999999998, 'Solodex Anti-Dandruff Shampoo 200ml': 7587.129999999999, 'Denton Clove': 5674.93, 'Verdex Offer - Laser Post 50ml+ 50': 4000.0, 'Vividol Hair oil 120ml': 3276.17, 'Verdex - Atopica Cream 100ml': 2897.01, 'Verdex Offer - Sypo Clear 50ml+ 50': 2894.7000000000007, 'Frost cold patch': 2716.8999999999996, 'Verdex - Hair Forte Ampoules 12 fl*5ml': 1535.1, 'Verdex - Sun Off Adult 50gm': 1505.02, 'Scaro Sheets': 882.06, 'Verdex - Laser Post 50ml': 872.1199999999999, 'Octenidine Mouthwash (250ml)': 840.6, 'Orovex Banana 120ml': 840.5, 'Orovex Strawberry 120ml': 840.5, 'Verdex - Sypo Clear 50ml': 715.4, 'Verdex - Alba serum 50ml': 643.8100000000001, 'Octenidine Oral spray (120ml)': 504.4, 'Verdex - Hair Forte Shampoo 200ml': 425.65999999999997, 'Cordo Hand Gel 60ml': 399.13, 'Verdex - Hair Forte Cream 100ml': 294.96000000000004, 'Verdex - Sun Off Junior 50gm': 271.4, 'VAKTER 60 ML D': 224.2, 'Verdex - Alba cream 50ml': 201.2, 'Verdex - Eye Contour Aid 50ml': 195.62, 'Revi 2 Cream 30gm': -10.62, 'Geskan Spray 100ml': -13.87, 'Evirinse Cleanser 250ml': -41.36, 'Synobar Soap 75 gm': -49.2, 'Atrkta offer (Mask+Shampoo) dander-off': -187.89, 'Reto plus Soap 125gm': -193.50000000000006, 'Neo Nail Cream 50gm': -313.92999999999995, 'Vividol Hair Cream 50gm': -335.59000000000003, 'Atrakta Ampoules+Shampoo Offer': -341.22, 'Zonex Soap 100gm': -413.74000000000007, 'Verdex - Hair Forte Lotion 200ml': -456.14, 'Atrakta - BI- Phase Spray + 50% BI- Phase Sp': -473.68, 'Atrakta - Re-Force Serum + 50% Re-Force Se': -505.26, 'Seta Cream 50gm': -592.99, 'Serio Skin Lotion120ml': -632.7700000000001, 'Gold Direct Use 250ml': -653.8999999999999, 'Kenara Thyme 250ml': -853.6300000000001, 'Sono Soap 100gm': -899.1000000000001, 'Titan Hair Lotion 120ml': -969.96, 'Titan Hair Lotion 250ml': -1094.79, 'Neo Nail Plus Cream 50gm': -1119.0299999999997, 'Care by Care jar 300g': -1407.89, 'Frost Spray 100ml': -1555.19, 'Tritect Hand Wash 250ml': -2181.5900000000006, 'Care by Care Lotion 100ml': -2190.1999999999994, 'Rego Cream 50gm': -2340.6, 'Carno Cream 50gm': -2845.8300000000004, 'Verdex Offer - Sypo Clear 50ml': -3180.35, 'Prote Care Cream 50gm': -5250.739999999998, 'Verdex Offer - Verdex - Eye Contour Aid 15ml': -7021.0599999999995, 'Vividol Hair oil 250ml': -8745.999999999996, 'Verdex Offer - Verdex - Hair Forte Lotion 200ml': -9094.74, 'Verdex Offer - Alba cream 50ml': -12214.029999999999, 'Verdex Offer - Laser Post 50ml': -14000.0, 'Tress Follicle Booster Shampoo 150ml': -97275.11000000004}

In [ ]:
for i in range (10):
  print(list(sort_data_dict.items())[i])

('Orovex Peppermint 250ml', 5001567.81)
('Gold Plus Cleanser 250ml', 3937879.9700000007)
('Scaro Gel 50gm', 3346304.41)
('Frost Massage Spray 100ml', 2717577.08)
('Synobar Skin cleanser 250ml', 2679505.59)
('Orovex Clove 250ml', 2183120.55)
('Dermocalm Lotion 120ml', 2142031.97)
('Bringo Lotion 120ml', 2133319.46)
('Natry Soap 100gm', 1913797.6099999999)
('Care by Care Cream 100gm', 1847981.21)

In [ ]:
prod = [value for value in list(sort_data_dict.items()) if value[1] >0]

In [ ]:
prod[-10:][::-1]

[('Verdex - Eye Contour Aid 50ml', 195.62),
 ('Verdex - Alba cream 50ml', 201.2),
 ('VAKTER 60 ML D', 224.2),
 ('Verdex - Sun Off Junior 50gm', 271.4),
 ('Verdex - Hair Forte Cream 100ml', 294.96000000000004),
 ('Cordo Hand Gel 60ml', 399.13),
 ('Verdex - Hair Forte Shampoo 200ml', 425.65999999999997),
 ('Octenidine Oral spray (120ml)', 504.4),
 ('Verdex - Alba serum 50ml', 643.8100000000001),
 ('Verdex - Sypo Clear 50ml', 715.4)]

#**$\color{skyblue}{\text{Top 10 Products}}$**

"Orovex Peppermint 250ml" => 5001567.81 revenue

"Gold Plus Cleanser 250ml" =>  3937879.97 revenue

"Scaro Gel 50gm" =>  3346304.41
 revenue

"Frost Massage Spray 100ml" =>   2717577.08 revenue

"Synobar Skin cleanser 250ml" =>   2679505.59 revenue

"Orovex Clove 250ml"=> 2183120.55  revenue


"Dermocalm Lotion 120ml"=> 2142031.97  revenue


"Bringo Lotion 120ml"=> 2133319.46  revenue


"Natry Soap 100gm"=> 1913797.61  revenue


"are by Care Cream 100gm"=> 1847981.21  revenue

#**$\color{skyblue}{\text{Lowest 10 Products}}$**

"Verdex - Eye Contour Aid 50ml" => 195.62

 "Verdex - Alba cream 50ml" => 201.2
 
 "VAKTER 60 ML D" => 224.2
 
 "Verdex - Sun Off Junior 50gm" => 271.4
 
 "Verdex - Hair Forte Cream 100ml" => 294.96
 
 "Cordo Hand Gel 60ml" => 399.13
 
 "Verdex - Hair Forte Shampoo 200ml" => 425.659
 
 "Octenidine Oral spray (120ml)" => 504.4
 
 "Verdex - Alba serum 50ml" => 643.81
 
 "Verdex - Sypo Clear 50ml" => 715.4

In [ ]:
Districts_Names = {}

for District in df["District Name"]:  
  if District not in Districts_Names:
    filtered_Sales = df[df['District Name']== District ]["SALES_VALUES"].sum()
    Districts_Names[District] = filtered_Sales

In [ ]:
sort_data = sorted(Districts_Names.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
list(sort_data_dict.items())[:5]

[('M7_Delta 1', 3669948.5300000003),
 ('M2_Cairo East', 3389894.07),
 ('OTC_DM Delta', 3275675.06),
 ('M2_Alex Zone', 3167995.3399999994),
 ('M5_Delta West', 2766359.4199999995)]


#**$\color{skyblue}{\text{Top 5 District}}$**

"M7_Delta 1" => 3669948.53

 "M2_Cairo East" => 3389894.07

 "OTC_DM Delta" => 3275675.06

 "M2_Alex Zone" => 3167995.34
 
 "M5_Delta West" => 2766359.42

In [ ]:
Medical_rep = {}

for rep in df["REP Territory Name"].unique():  
  filtered_Sales = df[df['REP Territory Name']== rep ]["SALES_VALUES"].sum()
  Medical_rep[rep] = filtered_Sales

sort_data = sorted(Medical_rep.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
list(sort_data_dict.items())[:5]

[('M2_Heliopolis - Zaytoun', 3174139.93),
 ('M2_Behara South', 2827718.9499999997),
 ('M7_Gharbia 1', 2076710.23),
 ('M1_Dakahlia 1', 1941026.57),
 ('M3_Gharbia 1', 1863889.09)]


#**$\color{skyblue}{\text{Top 5 Medical Rep}}$**

"M2_Heliopolis - Zaytoun => 3174139.93

 "M2_Behara South => 2827718.95
 
 "M7_Gharbia 1 => 2076710.23
 
 "M1_Dakahlia 1 => 1941026.57
 
 "M3_Gharbia 1 => 1863889.09

In [ ]:
Cities = {}

for City in df["CITY"].unique():  
  filtered_Sales = df[df['CITY']== City ]["SALES_VALUES"].sum()
  Cities[City] = filtered_Sales

sort_data = sorted(Cities.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
list(sort_data_dict.items())[:5]

[('القاهره', 15347563.058000002),
 ('الدقهليه', 12836442.09),
 ('الغربيه', 12358264.177),
 ('الجيزه', 7852025.577),
 ('البحيره', 4390424.079999999)]

#**$\color{skyblue}{\text{Top 5 Cities}}$**

القاهره" 15347563.058000002"

 الدقهليه" 12836442.09"

 الغربيه" 12358264.177"

 الجيزه" 7852025.577"
 
 البحيره" 4390424.079999999

In [ ]:
MACRO_BRICKS_NAME = {}

for BRICKS in df["MACRO_BRICKS_NAME"].unique():  
  filtered_Sales = df[df['MACRO_BRICKS_NAME']== BRICKS ]["SALES_VALUES"].sum()
  MACRO_BRICKS_NAME[BRICKS] = filtered_Sales

sort_data = sorted(MACRO_BRICKS_NAME.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
list(sort_data_dict.items())[:5]

[('Gharbia 1', 9890581.200000001),
 ('Dakahlia 3', 6289635.580000001),
 ('Heliopolis 4', 5802062.45),
 ('Dakahlia 1', 5008817.45),
 ('Heliopolis 3', 3395234.6299999994)]

#**$\color{skyblue}{\text{Top 5 Macro Bricks}}$**

"Gharbia 1" => 9890581.2

 "Dakahlia 3" => 6289635.58

 "Heliopolis" 4 => 5802062.45

 "Dakahlia 1" => 5008817.45

 "Heliopolis 3" => 3395234.6

In [ ]:
area_names = {}

for area in df["Area Name"].unique():  
  filtered_Sales = df[df['Area Name']== area ]["SALES_VALUES"].sum()
  area_names[area] = filtered_Sales

sort_data = sorted(area_names.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
list(sort_data_dict.items())[:5]

[('OTC AREA', 9200588.695),
 ('M7_NA', 7097652.1),
 ('M1_Delta Zone', 5779142.340000001),
 ('M1_Cairo Zone', 4319688.417),
 ('M2_Cairo Zone', 4173713.34)]

#**$\color{skyblue}{\text{Top 5 Areas}}$**

"OTC AREA" => 9200588.695

"M7_NA" => 7097652.1

"M1_Delta Zone" => 5779142.34

"M1_Cairo Zone" => 4319688.417

"M2_Cairo Zone" => 4173713.34

In [ ]:
brands = {}

for brand in df["BRAND"].unique():  
  filtered_Sales = df[df['BRAND']== brand ]["SALES_VALUES"].sum()
  brands[brand] = filtered_Sales

sort_data = sorted(brands.items(), key=lambda x: x[1], reverse=True)
sort_data_dict = dict(sort_data)
list(sort_data_dict.items())[:3]

[('OROVEX', 11422186.360000001),
 ('SCARO', 4927506.43),
 ('FROST', 4557913.109999999)]

#**$\color{skyblue}{\text{Top 5 Brands}}$**

"OROVEX => 11422186.36

 "SCARO => 4927506.43
 
 "FROST => 4557913.11